<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <ul id="categories">
    <% categories.forEach(function(category){ %>
    <li><a href="/cards/<%= category.id %>"><%= category.name %></a></li>
    <% }) %>
  </ul>
</main>

<%- include("foot.partial.ejs") %>