<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <ul id="errors">
    <% errors.forEach(function(error){ %>
    <li><%= error %></li>
    <% }) %>
  </ul>
  <%- include("forms/new_card.ejs") %>
</main>

<%- include("foot.partial.ejs") %>