<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <ul id="recipes">
    <% category.recipes.forEach(function(recipe){ %>
    <li>
      <strong><%= recipe.name %></strong> - <%= recipe.time %>
      <p><%= recipe.ingredients %></p>
      <p><%= recipe.steps %></p>
    </li>
    <% }) %>
  </ul>
  <div>
    <h3>Dodaj przepis</h3>
    <%- include("forms/new_recipe.ejs") %>
  </div>
</main>

<%- include("foot.partial.ejs") %>